/* ChangePasswordTab CSS */

.tab-pane.profile-change-password {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-change-password .row {
    margin-bottom: 15px;
    align-items: center;
    display: flex;
}

.profile-change-password label.col-md-4.col-lg-3.col-form-label {
    font-weight: bold;
    color: #555;
    flex: none;
    text-align: right;
    margin-left: 20px;
    padding-right: 10px;
}

.profile-change-password .col-md-8.col-lg-9 {
    flex: none;
    margin-left: auto;
    width: 70%;
}

.profile-change-password .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.profile-change-password .text-center {
    margin-top: 20px;
}

.profile-change-password .btn {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-change-password .btn:hover {
    background-color: #0056b3;
}
