/* Styles.css */

.forgotPassowrd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.forgotPassowrd h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.forgotPassowrd form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.forgotPassowrd input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.forgotPassowrd button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.forgotPassowrd button:hover {
    background-color: #45a049;
}

.forgotPassowrd p {
    margin-top: 20px;
    color: red;
}
