.signup-block {
    background-color: rgba(4, 79, 80, 0.427);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* stack children vertically */
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    color: black;
}

.signup-block p {
    font-weight: bold;
    margin-bottom: 10px; /* space below the paragraph */
}

.signup-block form {
    display: flex; /* align form children (input and button) horizontally */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-block input {
    margin-right: 20px !important;
}
